.custom-bg {
  background-color: #996839; /* Asegúrate de que este color esté aplicado */
}
.custom-text {
  color: #D9C39C; /* Asegúrate de que este color esté aplicado */
}
.hover-effect:hover {
  background-color: #D9C39C;
  color: #996839;
}